/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #4285f4;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
/* nav .navbar-brand .yellow
{
    color: #f5b82e;
} */
nav .navbar-brand .green
{
    color: #2e944b;
}

body {
    background-color: #343a40;
    font-family: 'Merriweather', serif;
    color:white;
}

.blue {
    color: #4285f4;
}

.red {
    color: #ea433b;
}

  table {
    background-color: #343a40;
    color: #fff;
    border-color: #212529; /* Set the border color to dark */
  }

  th {
    background-color: #212529;
    color: #fff;
    border-color: #fff; /* Set the border color to light */
  }

  td {
    background-color: #6c757d;
    color: #fff;
    border-color: #fff; /* Set the border color to light */
  }