{% extends "layout.html" %}

{% block main %}
    <div class="container">
        <h1>Logs</h1>
        <table class="table table-bordered">
            <tbody>
                    <tr>
                        <th>{{date}}</th>
                        <th>Duration</th>
                        <th>Time</th>
                        </tr>
                    <tr>
                        <!-- <td>
                            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="quote-sell" name="shares" placeholder="Amount" type="text">
                        </td>
                        <td></td>
                        <td>
                            <button class="btn btn-primary" type="submit">Sell</button>
                        </td> -->
                        <td>
                            <input autocomplete="off" autofocus class="form-control mx-auto w-auto p-auto" id="log_name" name="log-name" placeholder="Name" type="text">
                        </td>
                        <td>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto p-auto" id="log_duration" name="log-duration" placeholder="Duration" type="text">
                                    </div>
                                    <div class="form-check col">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" onclick="checkbox('flexCheckDefault','break')">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Break
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{time}}</td>
                    </tr>
                    <tr id="break" style="display: none;">
                        <th>
                            Break
                        </th>
                        <td>
                            <input autocomplete="off" autofocus class="form-control mx-auto w-auto p-auto" id="log-duration" name="log-duration" placeholder="Duration" type="text">
                        </td>
                        <td></td>
                    </tr>
            </tbody>
        </table>
        <div>
            <form action="/addlog" method="post">
                <button class="btn btn-dark" type="submit">Submit</button>
            </form>  
        </div>
    </div>
{% endblock %}