{% extends "layout.html" %}

{% block main %}
    <div class="container">
        <h1>Logs</h1>
        <table class="table table-bordered">
        <!-- <thead>
            <tr>
            <th scope="col">Header 1</th>
            <th scope="col">Header 2</th>
            <th scope="col">Header 3</th>
            </tr>
        </thead> -->
            <tbody>
                {% for log in logs %}
                    <tr>
                        <th>{{date}}</th>
                        <th>Duration</th>
                        <th>Time</th>
                        </tr>
                    <tr>
                        <th>{{log.log_name}}</th>
                        <td>{{log.log_duration}}</td>
                        <td>{{time}}</td>
                    </tr>
                    {% if log.log_break %}
                        <tr>
                            <th>Break</th>
                            <td>{{log.log_break_duration}}</td>
                            <td>{{time}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}