{% extends "layout.html" %}

{% block main %}
    <div class="container">
        <h1>Logs</h1>
        <table class="table table-bordered">
        <!-- <thead>
            <tr>
            <th scope="col">Header 1</th>
            <th scope="col">Header 2</th>
            <th scope="col">Header 3</th>
            </tr>
        </thead> -->
            <tbody>
                {% for log in logs %}
                    <tr>
                        <th>{{log.log_date}}</th>
                        <th>Duration</th>
                        <th>Time</th>
                        <th></th>
                        </tr>
                    <tr>
                        <th>{{log.log_name}}</th>
                        <td>{{log.log_duration}}</td>
                        <td>{{time}}</td>
                        <form action="/logs" method="post">
                            <td><button class="btn btn-dark" type="submit" name="delete" value="{{log.log_id}}">Delete</button></td>
                        </form>
                    </tr>
                    {% if log.log_break %}
                        <tr>
                            <th>Break</th>
                            <td>{{log.log_break_duration}}</td>
                            <td>{{log.log_time}}</td>
                            <td></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}